/* src/components/Navbar.css */
.navbar {
  background-color: #2b3e1f; /* Verde oscuro */
  color: white;
  padding: 10px 20px; /* Reducir el padding vertical para ocupar menos espacio */
  position: fixed; /* Fijar la barra de navegación */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

.navbar-links {
  list-style: none; /* Eliminar puntos de la lista */
  padding: 0;
  display: flex; /* Mostrar enlaces en línea */
  flex-wrap: wrap; /* Permitir que los enlaces se envuelvan en pantallas más pequeñas */
}

.navbar-links li {
  margin: 0 15px; /* Espaciado entre los enlaces */
}

.navbar-links a {
  color: white; /* Color del texto */
  text-decoration: none; /* Eliminar subrayado */
  transition: color 0.3s; /* Transición suave para el cambio de color */
}

.navbar-links a:hover {
  color: #a1c49b; /* Color al pasar el ratón */
}

/* Agregar margen superior al contenido principal para que no se oculte detrás de la navbar */
body {
  padding-top: 60px; /* Ajustar según la nueva altura de la navbar */
}
