/* src/index.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Fondo claro */
  color: #333; /* Texto oscuro */
}

h1 {
  color: #2c3e50; /* Color del encabezado */
}

.cabin-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las cabañas */
  margin: 20px;
}

.cabin-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px; /* Ancho fijo para las tarjetas */
  text-align: center;
}

.cabin-image {
  border-radius: 10px;
  width: 100%;
  height: auto; /* Ajusta automáticamente la altura */
}

.btn {
  background-color: #2980b9; /* Color del botón */
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  text-align: center;
}

.btn:hover {
  background-color: #3498db; /* Color del botón al pasar el mouse */
}
